exportPattern("^[[:alpha:]]+")
import(ggplot2)
import(cluster)
import(dplyr)
import(tidyr)
importFrom(spatstat, "nndist")
importFrom(stats, "runif")
importFrom(stats, "hclust")
importFrom(stats, "cutree")
import(purrr)
importFrom(magrittr, "%>%")
